@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");
html, body {
  width: 100vw;
  height: 100vh;
  font-family: Londrina Shadow, cursive;
  color: black;
  margin: 0;
  padding: 0;
}

#screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/website_background.jpg");
}

.backbutton {
  width: 80px;
  height: 40px;
  position: fixed;
  top: 2%;
  left: 1%;
  z-index: 10;
  cursor: pointer;
}

.mapbutton {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  margin-top: 5%;
  right: 15%;
  opacity: 0.5;
}

.riskcalcbutton {
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5%;
  left: 15%;
  opacity: 0.5;
}

.mapheader {
  right: 24%;
  position: fixed;
}

.riskcalcheader {
  position: fixed;
  left: 24%;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
  overflow: hidden;
}

#headerform {
  position: absolute;
  background: transparent;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 4%;
  font-size: 4rem;
  color: darkblue;
}

#infoheader {
  position: absolute;
  background: transparent;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  color: darkblue;
  left: -25%;
}

#mapheader {
  position: absolute;
  background: transparent;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  color: darkblue;
  left: 23%;
}

#riskScore {
  position: absolute;
  text-align: center;
  top: 15%;
  font-size: 3em;
  color: darkblue;
  width: 100%;
  margin: 0 auto;
}

.headers {
  top: 31%;
  display: inline-block;
}

#buildingForm {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
}

#buildingInfo {
  display: inline-block;
  border-radius: 15%;
  position: relative;
  background: lightblue;
  bottom: -39%;
  left: 10%;
  width: 30%;
  height: 50%;
  vertical-align: top;
}
#buildingInfo p {
  position: relative;
  font-size: 1.5rem;
  margin-top: 8.5%;
  margin-left: 7%;
  font-family: Londrina Solid, cursive;
}

#toAppend1 {
  color: red;
  text-decoration: none;
}

#toAppend2 {
  color: red;
  text-decoration: none;
}

#toAppend3 {
  color: red;
  text-decoration: none;
}

#toAppend4 {
  color: red;
  text-decoration: none;
}

#toAppend5 {
  color: red;
  text-decoration: none;
}

#mapsmall {
  display: inline-block;
  border-radius: 15%;
  position: relative;
  background: grey;
  bottom: -40%;
  left: 27%;
  width: 30%;
  height: 50%;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 60%;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  color: darkred;
  font-size: 16px;
}

input[type=text] {
  width: 100%;
  text-align: center;
}

input[type=submit] {
  background-color: darkblue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
  font-family: Georgia, serif;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*# sourceMappingURL=riskcalc.css.map */
